@use '../abstracts/' as *;

.login-main{
margin: 0;
background-color: #ececec;
height: 500px;
.login{
        padding: 20px 0 20px 0 ;
        height: 100%;
        display: grid;
        place-items: center;

        &-wrapper{
        margin: 0 auto;
        .cta-links{
            margin: 0 auto;
            border-bottom: 3px solid;
            width: 50%;
            height: 40px;
    margin-bottom: 10px;
    text-align: center;
            a{
                background-color:$bg-clr;
                padding: 12px 40px;
                border-radius: 10px;
                color: #fff;
                text-decoration: none;
            }
            .active-link{
                background-color: #C2C2C2;
                color: #000;
            }
        }
        .form-login{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        }
      }   
    }
}

.signin
{
//   position: absolute;
//   width: 400px;
background-color: #fff;
    
  z-index: 1000;
//   display: flex;
//   justify-content: center;
//   align-items: center;
  padding: 40px;
  border-radius: 15px;
  
  box-shadow: 0 15px 35px rgba(0,0,0,0.4);
}
 .signin .content 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
 .signin  h2 
{
  font-size: 20px;
  color: #000;
  text-align: left;
}
 .signin .content .form 
{
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
 .signin .content .form .inputBox
{
  position: relative;
  width: 100%;
}
 .signin .content .form .inputBox input 
{
  position: relative;
  width: 100%;
  border: 2px solid #ccc;
  outline: none;
  padding: 25px 10px 7.5px;
  border-radius: 4px;
//   color: #fff;
  font-weight: 500;
  font-size: 1em;
}
 .signin .content .form .inputBox i 
{
  position: absolute;
  left: 0;
  padding: 15px 10px;
  font-style: normal;
  color: #aaa;
  transition: 0.5s;
  pointer-events: none;
}
.signin .content .form .inputBox input:focus ~ i,
.signin .content .form .inputBox input:valid ~ i
{
  transform: translateY(-7.5px);
  font-size: 0.8em;
  color: #000;
}
.signin .content .form .links 
{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.signin .content .form .links a 
{
  color: #fff;
  text-decoration: none;
}
.signin .content .form .links a:nth-child(2)
{
  color: $bg-clr;
  font-weight: 600;
}
.signin .content .form .inputBox button {
    width: 100%;
  padding: 10px;
  background: $bg-clr;
  color: #fff;
  border: none;
  font-weight: 600;
  font-size: 1.35em;
  letter-spacing: 0.05em;
  cursor: pointer;
  border-radius: 5px;
}
input[type="submit"]:active
{
  opacity: 0.6;
}
@media (max-width: 900px)
{
   span 
  {
    width: calc(10vw - 2px);
    height: calc(10vw - 2px);
  }
}